.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
  color: var(--white);
  background-color: #1c50be;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
.cookie-text-wrapper {
  width: 100%;
  max-width: 100%;
  padding: 0;
}

.cookie-text {
  width: 100%;
  margin-top: 36px;
  text-align: left;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #fdfdfd;
  overflow-wrap: break-word;
  margin-bottom: 32px;
}
.cookie-text {
  @include media(desktop) {
    font-size: 18px;
    width: 100%;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
  }
}

.cookie-buttons {
  display: flex;
  margin-bottom: 36px;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;

  @include media(desktop) {
    margin-bottom: 40px;
    gap: 64px;
  }
}

.cookie-btn-img {
  position: relative;
  width: 340px;
  height: 60px;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  display: inline-block;
  background-image: url('/img/zel-des.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.decline {
  background-image: url('/img/bel-des.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.cookie-btn-img:hover {
  background-image: url('/img/zel-hov-des.png');
}

.decline:hover {
  background-image: url('/img/bel-hov-des.png');
}

.cookie-text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Segoe UI', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #fdfdfd;
  text-transform: uppercase;
  pointer-events: none;
}
.cookie-text-overlay.decline-text {
  color: #228b22;
}
@media (max-width: 1200px) {
  .cookie-btn-img {
    width: 289px;
    height: 49px;
  }

  .cookie-text-overlay {
    font-size: 12px;
  }
}
