#cookie-banner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 100%;
  height: auto;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
  color: var(--white);
  background-color: #1c50be;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-sizing: border-box;
}
.cookie-text-wrapper {
  width: 100%;
  max-width: 100%;
  padding: 0;
}

.cookie-text {
  width: 100%;
  margin-top: 50px;
  text-align: left;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #fdfdfd;
  overflow-wrap: break-word;
  margin-bottom: 42px;
}
.cookie-text {
  @include media(desktop) {
    font-size: 18px;
    width: 100%;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
    margin-bottom: 32px;
  }
}

.cookie-buttons {
  display: flex;
  margin-bottom: 36px;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;

  @include media(desktop) {
    margin-bottom: 40px;
  }
}

.cookie-btn-img {
  position: relative;
  width: 340px;
  height: 60px;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  display: inline-block;
}

.cookie-btn-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.cookie-text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Segoe UI', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #fdfdfd;
  text-transform: uppercase;
  pointer-events: none;
}
.cookie-text-overlay.decline-text {
  color: #228b22;
}
@media (max-width: 1200px) {
  #cookie-banner {
    padding: 16px;
  }

  .cookie-btn-img {
    width: 289px;
    height: 49px;
  }

  .cookie-text-overlay {
    font-size: 12px;
  }
}
.spark-text {
  @media (max-width: 1199px) {
    h3,
    p {
      max-width: 515px;
    }
  }
}
