<div class="cookie-banner reveal" id="cookie-banner">
  <div class="container">
    <div class="cookie-text-wrapper">
      <p class="cookie-text">
        WE USE COOKIES TO IMPROVE YOUR EXPERIENCE ON OUR WEBSITE. BY BROWSING
        THIS WEBSITE, YOU AGREE TO OUR USE OF COOKIES.
      </p>
    </div>

    <div class="cookie-buttons">
      <button class="cookie-btn-img accept" id="accept-cookies">
        <span class="cookie-text-overlay">ACCEPT COOKIES</span>
      </button>

      <button class="cookie-btn-img decline" id="decline-cookies">
        <span class="cookie-text-overlay decline-text">DECLINE COOKIES</span>
      </button>
    </div>
  </div>
</div>
