<footer class="footer" id="footer">
  <div class="container"></div>
  <section class="download-wrapper">
    <div class="download-section">
      <div class="overlay"></div>

      <div class="download-content-wrapper">
        <div class="download-content">
          <h4 class="download-subtitle">Download and Shine</h4>
          <h1>
            <span class="dark">Ready to</span>
            <span class="light">Light Up Your Life</span>
            <span class="dark">?</span>
          </h1>
          <p class="cta"><strong>Download 'Light It Up!' today!</strong></p>
          <p class="desc">
            Join the fun and start your light-bringing adventure! Download
            'Light It Up!' now and become the hero your neighborhood needs.
          </p>
        </div>

        <div class="button-center">
          <a
            href="https://play.google.com/store"
            class="play-button"
            target="_blank"
          >
            <img
              src="/img/google-play-icon.png"
              alt="Google Play"
              class="play-icon"
            />
            Google Play
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="footer-links-wrapper">
    <div class="footer-links">
      <a href="https://www.google.com/policies/privacy/" target="_blank"
        >Privacy Policy</a
      ><span class="slash">/</span>
      <a href="#terms">Terms & Conditions</a>
      <a href="#cookies">Cookies Policy</a>

      <span class="copy"
        >©2025 lucklightplay.com,<br class="copy-break" />
        All rights reserved</span
      >
    </div>
  </section>
</footer>
