<footer class="footer" id="footer">
  <section class="download-wrapper">
    <div class="overlay"></div>
    <div class="container">
      <div class="download-section">
        <div class="download-content-wrapper">
          <div class="download-content">
            <h4 class="download-subtitle">Download and Shine</h4>
            <h2>
              <span class="dark">Ready to</span>
              <span class="light">Light Up Your Life</span>
              <span class="dark">?</span>
            </h2>
            <p class="cta"><strong>Download 'Light It Up!' today!</strong></p>
            <p class="desc">
              Join the fun and start your light-bringing adventure! Download
              'Light It Up!' now and become the hero your neighborhood needs.
            </p>
          </div>

          <div class="button-center">
            <a
              href="https://play.google.com/store/apps/details?id=com.flyingwhalegames.netwalk&hl=en&gl=us&pli=1"
              target="_blank"
              rel="noopener noreferrer"
              class="play-button"
            >
              <img
                src="/img/google-play-icon.png"
                alt="Google Play"
                class="play-icon"
              />
              Google Play
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="footer-links-wrapper">
    <div class="container">
      <div class="footer-links">
        <a href="privacy_policy.html">Privacy Policy</a>
        <span class="slash">/</span>
        <a href="terms_and_conditions.html">Terms & Conditions</a>
        <a href="cookies_policy.html">Cookies Policy</a>

        <span class="copy">
          <span>©2025 lucklightplay.com,</span>
          <span>All rights reserved</span>
        </span>
      </div>
    </div>
  </section>
</footer>
