<section class="glowing" id="glowing">
  <div class="container">
    <p class="block-name-text block-name-puzzle">Glowing Graphics</p>
    <h2 class="glow-title">
      Experience the <br class="mobile-br" />
      <span class="accent">Glow</span>!
    </h2>

    <div class="glowing-content">
      <div class="phone-wrapper">
        <img
          class="glowing-img-phone"
          src="./img/phone@1xmob.png"
          alt="Phone with game glowing stars"
          srcset="./img/phon@2xdes.png 2x"
        />
      </div>

      <div class="glowing-text-block">
        <h3 class="glowing-subtitle">
          Stunning visuals that light up your screen
        </h3>
        <p class="glowing-text">
          The game is not only fun but also beautiful! The stunning graphics and
          immersive gameplay will make you feel like you're really there,
          bringing light to the dark.
        </p>

        <div>
          <img
            class="glowing-img-board"
            src="./img/image8.png"
            alt="Game board with glowing pipes"
            srcset="./img/image8-2x.png 2x"
          />
        </div>
      </div>
    </div>
  </div>
</section>
