<header class="header" id="header">
  <div class="container header-container">
    <div class="header-menu">
      <a href="/" class="logo-header">
        <img
          src="./img/header-logo-1x.png"
          alt="Logo"
          srcset="./img/header-logo-2x.png 2x"
        />
      </a>

      <nav class="desktop-nav">
        <ul>
          <li><a href="#spark">The Spark of an Idea</a></li>
          <li><a href="#wire">Wire Wizardry</a></li>
          <li><a href="#puzzle">Puzzle Power</a></li>
          <li><a href="#glowing">Glowing Graphics</a></li>
          <li><a href="#relax">Relax and Light Up</a></li>
          <li>
            <a
              href="https://play.google.com/store/apps/details?id=com.flyingwhalegames.netwalk&hl=en&gl=us&pli=1"
              target="_blank"
              rel="noopener noreferrer"
              >Download and Shine</a
            >
          </li>
        </ul>
      </nav>

      <div class="burger">
        <div class="burger-open">
          <img src="./img/open.png" alt="Open Menu" />
        </div>
        <div class="burger-close">
          <img src="./img/close.png" alt="Close Menu" />
        </div>
      </div>

      <div class="modal-menu">
        <nav class="mobile-nav">
          <ul>
            <li><a href="#spark">The Spark of an Idea</a></li>
            <li><a href="#wire">Wire Wizardry</a></li>
            <li><a href="#puzzle">Puzzle Power</a></li>
            <li><a href="#glowing">Glowing Graphics</a></li>
            <li><a href="#relax">Relax and Light Up</a></li>
            <li>
              <a
                href="https://play.google.com/store/apps/details?id=com.flyingwhalegames.netwalk&hl=en&gl=us&pli=1"
                target="_blank"
                rel="noopener noreferrer"
                >Download and Shine</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
