<section class="puzzle" id="puzzle">
  <div class="container">
    <div class="puzzle-container">

      <p class="block-name-text block-name-puzzle">Puzzle Power</p>

      <div class="puzzle-container1">

        <div>
          <h2 class="puzzle-text-h2">
            Brain Teasers
            <span class="h2-span-puzzle"> That <br>Shine!</span>
          </h2>
          <h3 class="puzzle-text-h3">
            Challenge your mind with glowing puzzles
          </h3>
          <p class="puzzle-text-p1">
            Each level is a new puzzle waiting to be solved. As you progress, the puzzles get trickier, and you'll need to think like a real engineer! Can you handle the challenge and light up every house?
          </p>
        </div>

        <div>
          <img
            class="puzzle-img1"
            src="./img//puzzle1.png"
            alt="img"
            srcset="./img/puzzle1@2x.png 2x"
          />
        </div>

        <svg width="100" height="100" class="puzzle-arrow">
          <use href="./img/sprite.svg#icon-arrow"></use>
        </svg>

      </div>

      <div class="puzzle-container2">
        <div>
          <h2 class="puzzle-text-h2">
            <span class="h2-span-wire">Be the Hero </span>
            the <br>Neighborhood Needs!
          </h2>

          <h3 class="puzzle-text-h3">
            Bring light to the darkness, one house at a time.
          </h3>
          <p class="puzzle-text-p2">
            Imagine the smiles on everyone's faces as you bring light back to their homes. You're not just playing a game; you're making a difference! Feel the satisfaction of lighting up the entire neighborhood.
          </p>
        </div>
        <div>
          <img
            class="puzzle-img2"
            src="./img//puzzle2.png"
            alt="img"
            srcset="./img/puzzle2@2x.png 2x"
          />
        </div>
      </div>

  </div>
</section>
