<section class="relax" id="relax">
  <div class="container">
    <div class="relax-text">
      <p class="block-name-text">Relax and Light Up</p>
      <h2 class="relax-subtitle">
        Relax and <span class="relax-illuminate">Illuminate</span>!
      </h2>
      <h3 class="relax-tagline">A calming puzzle experience</h3>
      <p class="relax-description">
        Take a break from the hustle and bustle and enjoy a calming puzzle
        experience. ‘Light It Up!’ is perfect for winding down and relaxing
        while challenging your brain.
      </p>
    </div>
    <div class="relax-image phone-wrapper">
      <img
        class="relax-img-phone"
        src="./img/image9-mob.png"
        alt="static phone"
        srcset="./img/image9.png 2x"
      />
    </div>
  </div>
</section>
