<section class="spark" id="spark">
  <div class="container spark-container">
    <div class="spark-text">
      <p class="block-name-text block-name-spark">The Spark of an Idea</p>
      <h1 spark-text-h1>
        From a Dark Room <span class="h1-span"> to a Bright Idea!</span>
      </h1>
      <h3 class="spark-text-h3">
        How 'Light It Up!' was born from a power outage!
      </h3>
      <p>
        Imagine this: a cozy evening, then BAM! Everything goes dark. But in
        that darkness, a brilliant idea sparked! What if we could bring light
        back, one wire at a time? That's how 'Light It Up!' was created - a game
        where you're the hero who brings light to the neighborhood!
      </p>
      <a
        class="go-action"
        href="https://play.google.com/store/apps/details?id=com.flyingwhalegames.netwalk&hl=en&gl=us&pli=1"
        target="_blank"
        rel="noopener noreferrer"
      >
        Let's light up the world!
      </a>
    </div>

    <img
      class="spark-img"
      src="./img//complete.png"
      alt="Logo"
      srcset="./img/complete2x.png 2x"
    />
  </div>
</section>
