<section class="wire" id="wire">
  <div class="container">
    <div class="wire-container">
      <p class="block-name-text block-name-wire">Wire Wizardry</p>
      <h2 class="wire-text-h2">
        <span class="h2-span-wire">Become a </span>Wire-Connecting
        <span class="h2-span-wire"> Master!</span>
      </h2>
      <img
        class="wire-img"
        src="./img//wire1.png"
        alt="img"
        srcset="./img/wire1@2x.png 2x"
      />

      <div class="wire-absolute-container">
        <img
          class="wire2-img"
          src="./img//wire2.png"
          alt="img"
          srcset="./img/wire2@2x.png 2x"
        />
        <h3 class="wire-text-h3">
          Connect the dots and light up the town!
        </h3>
        <p>
          You're the wire wizard! Use your problem-solving skills to connect wires and bring power to the houses. Rotate and place the wires strategically to complete each level. It's like a puzzle adventure with glowing results!
        </p>
        <img
          class="wire3-img"
          src="./img//wire3.png"
          alt="img"
          srcset="./img/wire3@2x.png 2x"
        />
      </div>
      <!-- <h3 class="spark-text-h3">
        How 'Light It Up!' was born from a power outage!
      </h3>
      <p>
        Imagine this: a cozy evening, then BAM! Everything goes dark. But in
        that darkness, a brilliant idea sparked! What if we could bring light
        back, one wire at a time? That's how 'Light It Up!' was created - a game
        where you're the hero who brings light to the neighborhood!
      </p>
      <a
        class="go-action"
        href="https://play.google.com/store/apps/details?id=com.flyingwhalegames.netwalk&hl=en&gl=us&pli=1"
        target="_blank"
        rel="noopener noreferrer"
      >
        Let's light up the world!
      </a>
    </div> -->

    <!-- <img
      class="spark-img"
      src="./img//complete.png"
      alt="Logo"
      srcset="./img/complete2x.png 2x"
    /> -->
  </div>
</section>
