.download-wrapper {
  background-color: #6dacf7;
  background-image: url('/img/Block6 bg.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}

.download-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.download-content {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 22px;
  line-height: 110%;
  color: #fdfdfd;
  text-align: left;
}
.download-subtitle {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 22px;
  line-height: 110%;
  color: #fdfdfd;
  margin-bottom: 16px;
}

.download-content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding: 56px 0 40px;
  gap: 64px;
}

.download-content {
  text-align: left;
  // margin: 0 auto;
}

.download-content .cta {
  margin-top: 24px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: #050505;
}

.download-content .desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #050505;
  margin-top: 8px;
}
.button-center {
  display: flex;
  justify-content: center;
}
.play-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #fdfdfd;
  color: #050505;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-decoration: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  margin-top: 24px;
  white-space: nowrap;
  border-radius: 16px;
  width: 288px;
  height: 48px;
  gap: 12px;
  border: none;

  @include media(desktop) {
    width: 246px;
    height: 60px;
  }
}

.play-icon {
  width: 24px;
  height: 24px;
}

.dark {
  color: #050505;
}

.light {
  color: #fdfdfd;
}
.footer-links-wrapper {
  background-color: #fdfdfd;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 43px;
  margin-top: 21px;
  margin-bottom: 21px;
}

.footer-links a {
  color: #050505;
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  text-transform: uppercase;
}

.slash {
  display: none;
}

.copy {
  display: flex;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #050505;
  text-align: center;

  @media screen and (max-width: 1199px) {
    flex-direction: column;
  }
}

.copy span {
  margin: 0 5px;
}

.copy-break {
  display: inline;
}
/* ===== DESKTOP ≥ 1200px ===== */
@media screen and (min-width: 1200px) {
  .download-content-wrapper {
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 128px 253px 128px 72px;
  }

  .play-button {
    gap: 16px;
  }
  .download-content {
    width: 516px;
    height: 100%;
  }

  .download-content .cta {
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
  }

  .download-subtitle {
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
  }
  .download-content .desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
  }
  .button-center {
    flex-shrink: 0;
    justify-content: flex-end;
    margin: 0;
  }
  .footer-links-wrapper {
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
  }
  .footer-links {
    flex-direction: row;
    align-items: center;
    margin-left: 80px;
    gap: 0;
  }
  .footer-links a,
  .footer-links .slash {
    margin: 0;
  }
  .footer-links a[href="https://www.google.com/policies/privacy/"]
  {
    margin-right: 17px;
  }
  .footer-links a:nth-of-type(3) {
    margin-left: 87px;
  }
  .footer-links a:nth-of-type(1) {
    margin-right: 17px;
  }

  .footer-links .slash:nth-of-type(2) {
    margin-right: 17px;
    margin-left: 17px;
  }
  .footer-links a:nth-of-type(2) {
    margin-left: 17px;
  }
  .slash {
    display: inline;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    text-transform: uppercase;
    color: #050505;
  }

  .copy {
    white-space: nowrap;
    margin-left: 87px;
    font-size: 14px !important;
  }
}
.copy-break {
  display: none;
}
