.block-name-puzzle {
  margin-top: 40px;
  margin-bottom: 16px;

  @include media(desktop) {
    margin-top: 64px;
    margin-bottom: 32px;
  }
}

.accent {
  color: #fdfdfd;
}

.glowing-img-phone {
  margin-top: 24px;
  width: 320px;
  height: auto;
  transform: scale(1);
  transition: transform 0.8s ease-in-out;

  @include media(desktop) {
    margin-top: 32px;
    width: 570px;
    position: static;
  }
}

.phone-wrapper:hover .glowing-img-phone,
.phone-wrapper.active .glowing-img-phone {
  transform: scale(1.05);
}

.glowing-text-block {
  margin-top: 24px;

  @include media(desktop) {
    margin-top: 32px;
    width: 518px;
    height: 596px;
  }
}

.glowing-img-board {
  display: block;
  width: 228px;
  transform: rotate(-17deg);
  margin: 16.24px auto 40px auto;

  @include media(desktop) {
    width: 357px;
    padding-top: 20px;
    margin-bottom: 64px;
    margin-left: 80px;
  }
}

.glowing-subtitle {
  margin-bottom: 8px;

  @include media(desktop) {
    margin-bottom: 16px;
  }
}

.glowing-content {
  @include media(desktop) {
    display: flex;
    align-items: flex-start;
    gap: 42px;
  }
}

.mobile-br {
  display: inline;
}

@media (min-width: 1158px) {
  .mobile-br {
    display: none;
  }
}

.phone-wrapper {
  overflow: hidden;
  position: relative;
}
.star-fall {
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: visible;
  z-index: 2;
}
.svg-star {
  position: absolute;
  top: 0;
  width: 12px;
  height: 12px;
  opacity: 0;
  animation: starFall 3.5s ease-in forwards;
  transform-origin: center;
}

@keyframes starFall {
  0% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translate(var(--x), var(--y)) rotate(360deg);
    opacity: 0;
  }
}
