.header {
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 100%;
  background-color: #2b4da6;

  @include media(desktop) {
    padding: 24px 0;
  }
}

.desktop-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background-color: white;
  width: 988px;
  height: 60px;
  border-radius: 12px;
  text-transform: uppercase;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.desktop-nav ul li {
  font-size: 14px;
  font-weight: 700;
  line-height: 130%;
}

.desktop-nav ul li:hover {
  color: #006300;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media(desktop) {
    padding: 0;
  }
}

.logo-header {
  z-index: 2000;
}

.logo-header img {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  cursor: pointer;
  z-index: 2000;

  @include media(desktop) {
    width: 60px;
    height: 60px;
    border-radius: 16px;
  }
}

body.no-scroll {
  overflow: hidden;
  padding-right: var(--scrollbar-width, 0);
}

.burger {
  cursor: pointer;
  z-index: 2000;

  @include media(desktop) {
    display: none;
  }
}

.burger-open {
  width: 24px;
  height: 16px;
  display: block;
}

.burger-close {
  width: 16px;
  height: 16px;
  display: none;
}

.modal-menu {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100vh;
  background-color: #6dacf7;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal-menu.active {
  margin-top: 60px;
  padding-top: 16px;
  display: flex;
  overflow-y: auto;
  max-height: 100vh;
  flex-direction: column;
  opacity: 1;
  background-image: url('/img/bg.png');
  background-repeat: no-repeat;
}

.mobile-nav {
  width: 320px;
  height: 100vh;
}

.mobile-nav ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
  padding: 0 16px;
  margin: 0;
}

.mobile-nav ul li {
  padding: 13.5px 0;
}

.mobile-nav ul li a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
}
