.footer-links-wrapper {
  background-color: #fdfdfd;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 43px;
  margin-top: 21px;
  margin-bottom: 21px;
}

.footer-links a {
  color: #050505;
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  text-transform: uppercase;
}

.slash {
  display: none;
}

.copy {
  display: flex;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #050505;
  white-space: normal;
  text-align: center;
}
.copy-break {
  display: inline;
}

@media screen and (min-width: 1200px) {
  .download-content-wrapper {
    flex-direction: row;
    width: 100%;
    align-items: center;

    padding: 128px 0 128px 0;
  }
  .download-wrapper {
    width: 100%;
  }
  .play-button {
    gap: 16px;
  }
  .download-content {
    width: 516px;
    height: 100%;
  }

  .download-content .cta {
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
  }

  .download-subtitle {
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
  }
  .download-content .desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
  }
  .button-center {
    flex-shrink: 0;
    justify-content: flex-end;
    margin: 0;
  }
  .footer-links-wrapper {
    width: 100%;
    box-sizing: border-box;
    text-align: start;
  }
  .footer-links {
    flex-direction: row;
    white-space: nowrap;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0;
  }
  .footer-links a:nth-child(1) {
    margin-right: 14px;
  }

  .footer-links .slash:nth-child(2) {
    margin-right: 14px;
  }

  .footer-links a:nth-child(3) {
    margin-right: 148px;
  }

  .footer-links a:nth-child(4) {
    margin-right: 148px;
  }

  .slash {
    display: inline;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;

    text-transform: uppercase;
    color: #050505;
  }

  .copy {
    display: flex;
    white-space: nowrap;
    font-size: 14px !important;
  }

  .copy-break {
    display: none;
  }

  .policy-list {
    font-family: var(--font-family);
    font-weight: 400;
    display: block;
    list-style-type: disc;
    font-size: 14px;
    line-height: 140%;
    color: var(--black);
    margin: 0;
    padding-left: 20px;
    list-style-position: outside;
  }

  p {
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  p {
    font-size: 18px;
  }
}

.policy-list {
  padding-left: 20px;
  list-style: disc;
  font-size: 16px;
}

@media screen and (min-width: 1200px) {
  .policy-list {
    font-size: 18px;
  }
}

h3 {
  font-size: 18px;
  line-height: 130%;
  font-weight: 700;
  color: #050505;
}

@media screen and (min-width: 1200px) {
  h3 {
    font-size: 20px;
  }
}

h2 {
  font-size: 28px;
  line-height: 1.2;
  font-weight: 700;
  color: #050505;
}

@media screen and (min-width: 1200px) {
  h2 {
    font-size: 48px;
  }
}

.thirdparty-list {
  list-style-type: disc;
  list-style-position: outside;
}

.thirdparty-list a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #050505;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.thirdparty-list a:hover {
  color: #2f80ed;
}

.back-home-link {
  display: flex;
  align-items: center;
}

.back-text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  text-align: center;
  color: #fdfdfd;
  text-decoration: none;
  padding-left: 8px;
  padding-top: 51px;
}

.back-icon {
  width: 16px;
  height: 16px;

  margin-top: 51px;
}

#privacy-policy h2,
#cookies-policy h1 {
  margin-top: 24px;
}
@media screen and (min-width: 1200px) {
  .thirdparty-list a {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  #privacy-policy h2,
  #cookies-policy h1 {
    margin-top: 64px;
  }
}

#privacy-policy h2 + p,
#cookies-policy h1 + p {
  margin-top: 24px;
  margin-bottom: 16px;
}

@media screen and (min-width: 1200px) {
  #privacy-policy h2 + p,
  #cookies-policy h1 + p {
    margin-top: 32px;
    margin-bottom: 24px;
  }
}

.info-title {
  margin-top: 16px;
}

.info-intro {
  margin-top: 8px;
  margin-bottom: 16px;
}

@media screen and (min-width: 1200px) {
  .info-intro {
    margin-bottom: 24px;
  }
}

.info-paragraph {
  margin-top: 8px;
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .info-paragraph {
    margin-top: 8px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .privacy-intro,
  .cookies-intro {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    line-height: 1.6;
    word-wrap: break-word;
    hyphens: auto;
    font-size: 18px;
    font-weight: 400;
  }

  .privacy-intro p,
  .cookies-intro p {
    text-align: justify;
  }

  .privacy-intro,
  .cookies-intro {
    line-height: 1.8;
    text-align: justify;
  }

  .privacy-intro p,
  .cookies-intro p,
  .privacy-intro h2,
  .cookies-intro h1,
  .privacy-intro h3,
  .cookies-intro h3,
  .privacy-intro ul,
  .cookies-intro ul,
  .privacy-intro li,
  .cookies-intro li {
    width: 100%;
    max-width: 100%;
    text-align: justify;
    hyphens: auto;
  }
}

.privacy-intro h3:has(+ p),
.cookies-intro h3:has(+ p) {
  margin-bottom: 16px;
  margin-top: 16px;
}

.privacy-intro h3 + p,
.cookies-intro h3 + p {
  margin-top: 0;
}

.privacy-intro p:last-of-type,
.cookies-intro p:last-of-type {
  margin-bottom: 40px;
}

@media screen and (min-width: 1200px) {
  .privacy-intro p:last-of-type,
  .cookies-intro p:last-of-type {
    margin-bottom: 64px;
  }
}
.paragraph-spacing-16 {
  margin-top: 16px;
  margin-bottom: 24px;
}
.h3-spacing-top {
  margin-top: 16px;
  margin-bottom: 16px;
}
.h4-definitions-spacing {
  margin-top: 8px;
  margin-bottom: 16px;
}
.paragraph-bottom-8 {
  margin-bottom: 8px;
}
.spacing-top-24 {
  margin-top: 24px;
}

.spacing-bottom-16 {
  margin-bottom: 16px;
}
.cookies-spacing-1 {
  margin-bottom: 16px;
}

.cookies-spacing-2 {
  margin-bottom: 8px;
}
.cookies-gap-1 {
  margin-top: 16px;
}
.cookies-gap-2 {
  margin-top: 16px;
}
.cookies-gap-3 {
  margin-top: 16px;
}
.cookies-bottom-8 {
  margin-bottom: 8px;
}
.cookies-h4-top-8 {
  margin-top: 8px;
}
.terms-title {
  margin-bottom: 32px;
  margin-top: 39px;
}

@media screen and (min-width: 1200px) {
  .terms-title {
    margin-top: 64px;
  }
  .browser-list {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .info-list li {
    font-size: 18px;
  }
}
.terms-paragraph {
  margin-bottom: 16px;
}
.small-gap {
  margin-bottom: 8px;
}
.gap-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.info-list {
  font-size: 16px;
  padding-left: 20px;
  list-style: disc;
}

.browser-list {
  padding-left: 20px;
  font-size: 16px;
  list-style: disc;
}

.browser-list a {
  text-decoration: underline;
}

.browser-list li {
  text-decoration: none;
}
.definition-list {
  padding-left: 20px;
  list-style: disc;
}

.definition-list li {
  text-decoration: none;
}

.definition-list a {
  text-decoration: underline;
}
