.relax-text {
  margin-top: 24px;
  margin-bottom: 16px;

  @include media(desktop) {
    margin-top: 233px;
  }
}
.relax-illuminate {
  color: #fdfdfd;
}

.relax-text,
.relax-image {
  margin-bottom: 24px;

  @include media(desktop) {
    margin-bottom: 0;
  }
}
.relax .container {
  @include media(desktop) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
  }
}
.block-name-text {
  margin-bottom: 16px;

  @include media(desktop) {
    margin-bottom: 32px;
  }
}
.relax-subtitle {
  margin-bottom: 24px;

  @include media(desktop) {
    margin-bottom: 48px;
  }
}
.relax-tagline {
  margin-bottom: 8px;

  @include media(desktop) {
    margin-bottom: 16px;
  }
}
