.spark {
  margin-top: 84px;
  margin-bottom: 40px;

  @include media(desktop) {
    margin-top: 164px;
    margin-bottom: 0;
  }
}

.spark-container {
  @include media(desktop) {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}

.block-name-spark {
  margin-bottom: 32px;

  @include media(desktop) {
    margin-bottom: 56px;
  }
}

.h1-span {
  color: #fdfdfd;
}

.spark-text {
  @include media(desktop) {
    width: 60%;
  }
}

.spark-text-h3 {
  margin-top: 502px;
  margin-bottom: 16px;

  @include media(desktop) {
    margin-top: 56px;
    margin-bottom: 24px;
  }
}

.spark-text-p {
  max-width: 515px;
}

.spark-img {
  width: 288px;
  height: 438px;
  position: absolute;
  top: 252px;

  @include media(desktop) {
    width: 470px;
    height: 713px;
    right: 32px;
    top: 0;
  }
}

.go-action {
  width: 288px;
  height: 48px;
  border-radius: 16px;
  border: none;
  background-image: url('/img/button-spark-mobile.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  text-transform: uppercase;
  color: #fdfdfd;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    background-image: url('/img/button.png');
    width: 426px;
    height: 60px;
    margin-top: 64px;
    margin-bottom: 168px;
  }
}

.go-action:hover {
  background-image: url('/img/button-spark-hover-mobile.png');
  @include media(desktop) {
    background-image: url('/img/button-hover.png');
  }
}
